{% extends 'aero/index.html' %}

{% block content %}
    <!--
    <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h2 class="display-4 centered">Accueil</h2>
                <hr class="my-4">

            </div>
    </div>-->

    <div class="row ">
        <div class="col-md-12" >
            <div class="card card-transparent">
                <div class="card-header bg-light ">
                    <h2 class="card-title text-center">
                        Bienvenue sur notre site
                    </h2>
                    <h5 class="card-category text-center">
                        La plateforme de référence pour toutes vos réservations de voyages dans le monde
                    </h5>
                </div>
                <div class="card-body bg-secondary">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="mapcontainer">
                            <div id="map-example" class="vmap" style="height: 400px"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% endblock content %}